{% extends "bootstrap/base.html" %}

{% block title %}SUMO{% endblock %}


{% block styles %}
{{super()}} 
    <link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
{% endblock %}


{% block navbar %}


{% endblock %}



{% block content %}




    
<div class="container">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
        <a href="/"><h1>Sumo</h1></a>
        <div id="main">
            <input id="target" type="url" name="target"  placeholder="insert target URL"><br>
            <div id="sb_button">
                <button class="btn btn-lg btn-primary" id="button_anl" type="submit">Analyze &raquo;</button>
            </div>
            <div id="loading">
                <button class="btn btn-lg btn-warning">Loading...</button>
            </div>
        </div>

    <!-- Update new document -->
    <div id="add_form">
        <h2>The document is not present</h2>
        <div id="sb_button">
            <button class="btn btn-lg btn-primary" id="button_add" type="submit">Add Document</button>
        </div>    
        <div id="adding">
            <button class="btn btn-lg btn-warning">adding document...</button>
        </div>
        <div id="fail">
            <button class="btn btn-lg btn-danger">impossible add the document :(</button>
        </div>
    </div>

</div>


<!-- Tag Cloud -->
<div class="jumbotron" id="tag_cloud">
</div>

<!-- Clusterize -->
<div class="jumbotron" id="clusterize">
        <button class="btn btn-lg btn-primary" id="button_cluster" type="submit">Clusterize &raquo;</button>
   <div id="cluster">
   </div> 
</div>

<!-- All the results -->
<div class="jumbotron" id="results">
</div>

<!-- Index documents -->
<div class="jumbotron" id="documents">
</div>



<!-- Modal Dialog Box -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="delete" type="button" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>


</div> <!-- /container -->
{% endblock %}


{% block scripts%}
{{super()}}
<script type="text/javascript" charset="utf-8" src="{{url_for('.static', filename='jquery.tagcloud.js')}}"></script>

<script>

// Preparing the when ready
$(document).ready(function(){
  $("#add_form").hide();
  $("#tag_cloud").hide();
  $("#clusterize").hide();
  $("#loading").hide();
  $("#fail").hide();
  $("#adding").hide();
  $("#results").hide();
  var target_document = '';
  var document_to_del = '';
  load_index();


    // Controll Button to ADD a new document
    $("#button_add").click(function(){
        var target="url="+target_document
        $(this).hide();
        $("#adding").show();
        $("#fail").hide();
        $.ajax({
            'url': '/sumo',
            'type': "POST",
            'data': target,
            statusCode: {
                201: function (data){
                    $('#add_form').slideUp("slow");
                    $('#button_anl').show();
                    $("#adding").hide();
                    $("#button_add").show();
                    load_index();
                },
                404: function (){
                    alert("impossible retrieve the document");
                },
                409: function (){
                    alert("conflict");
                },
                500: function (){
                    $('#adding').hide();
                    $("#fail").show();
                }
            }
        });
    })


    // Control Button when fail the upload of a new document
    $('#fail').click(function(){
        $('#add_form').empty();
        $('#add_form').slideUp("slow");
        $('#button_anl').show();
    });


    // Control Delete Button Dialog Box
    $('#delete').click(function(){
        $('#myModal').modal('toggle');
        delete_document(document_to_del);
    });


    // Control Button Analysis
    $("#button_anl").click(function(){
        $(this).hide();
        $('#results').empty();
        $('#cluster').empty(); 
        $("#button_cluster").show();
        $("#loading").show();
        var target = $("#target").val();
        var norm_target = target.replace(/http:\/\//,"");
        norm_target = norm_target.replace(/https:\/\//g,"");
        norm_target = norm_target.replace(/\//g,"__");
        var resource = "/sumo/"+norm_target
        $.ajax({
            'async': false,
            'global': false,
            'url': resource,
            'type': "get",
            'dataType': "json",
            statusCode: {
                200: function (data){
                    show_results(data)
                    $("#clusterize").show();
                },
                404: function (){
                    target_document = target;
                    $("#results").hide();
                    $("#results").empty();
                    $("#tag_cloud").hide();
                    $("#tag_cloud").empty();
                    $("#add_form").slideDown();
                    $("#loading").hide();
                }
            }
        });
    });


    // One click on the item list  to load the results
    $("#documents").on('click','li',function(){
        $('#target').val($(this).text());
    });

    // One click on the item list  to load the results
    $("#cluster").on('click','li',function(){
        $('#target').val($(this).text());
    });

    // Double click on the item list to delete it
    $("#documents").on('dblclick','li',function(){
        document_to_del = $(this).text()
        $('#myModalLabel').replaceWith('<h4>Delete: <br> '+document_to_del+'</h4>');
        $("#myModal").modal();
    });



    // Controll Button to retrieve the cluster
    $("#button_cluster").click(function(){
        $(this).hide();
        var target = $("#target").val();
        var norm_target = target.replace(/http:\/\//,"");
        norm_target = norm_target.replace(/https:\/\//g,"");
        norm_target = norm_target.replace(/\//g,"__");
        var resource = "/sumo/cluster/"+norm_target
        $.ajax({
            'async': false,
            'global': false,
            'url': resource,
            'type': "get",
            'dataType': "json",
            statusCode: {
                200: function (data){
                    show_cluster(data)
                },
                404: function (){
                    alert("404");
                }
            }
        });
    });

});


// funtion to load the documents index in the div
function load_index(){
    $.ajax({
        'async': false,
        'global': false,
        'url': '/sumo',
        'type': 'GET',
        'dataType': 'json',
        'success': function (data) {
            $('#documents').empty();
            i = 0;
            $.each(data, function (k,v){
                    $('#documents').append("<li>"+v+"</li>");
                    i=i+1;
            });
            $('#documents').append("<b>Total document in the archive: "+i+"</b>");    
        }
    });
};


// function to call the DELETE api deleting the target from the mongodb
function delete_document(target){
    var norm_target = target.replace(/http:\/\//,"");
    norm_target = norm_target.replace(/https:\/\//g,"");
    norm_target = norm_target.replace(/\//g,"__");
    var resource = "/sumo/"+norm_target
    $.ajax({
        'async': false,
        'global': false,
        'url': resource,
        'type': "delete",
        statusCode: {
            204: function (){
                load_index();
            },
            404: function (){
                alert("404");
            }
    }
    });
};


// this function used to show the cluster
function show_cluster(data){
    $('#cluster').append("CLUSTER:<br>"); 
    $('#cluster').append("<ul>");
    $.each(data, function (k,v){
            $('#cluster').append("<li><b>"+k+"</b></li><i>"+v['score']+"</i> :: "+v['intersection']+"<br>");
        });
    $('#cluster').append("</ul>");
}




// this function return the results formatted for the right divs
function show_results(data){
    // preparing the destination divs
    $('#results').hide();
    $('#tag_cloud').empty();

    // appending some general meta
    $('#results').append("<b>"+data.page_title+"</b><br><br>");
    $('#results').append("<img width='250' src='"+data.img+"'><br>");
    $('#results').append("<b>URL:</b> "+data.url+"<br>");
    $('#results').append("<b>Smart_url:</b> <a href='/sumo/"+data.url_name+"' target='_blank'>"+data.url_name+"</a><br>");
    $('#results').append("<b>Insert date:</b> "+data.date_insert+"<br>");
    $('#results').append("<br><b>Language detected:</b> "+data.lang+"<br>");
    $('#results').append("<br><b>Num Sentences:</b> "+data.sentences+"<br>");
    $('#results').append("<b>Num Words:</b> "+data.words+"<br>");
    $('#results').append("<b>Num Unique Words:</b> "+data.unique_words+"<br>");
    $('#results').append("<b>Num Hapaxes:</b> "+data.hapaxes+"<br>");

    
    // appending the most frequent words
    $('#results').append("<br><b>Most Frequent Words:</b> <br>");
    $.each(data.most_freq_words, function (k,v){
        $('#results').append(" -- "+k+" : "+v+"   ");
    });

    // appending the most frequent stemmed words
    $('#results').append("<br><b>Most Frequent Words Snowball Stemming:</b> <br>");
    $.each(data.most_freq_stem_words, function (k,v){
        $('#results').append(" -- "+k+" : "+v+"   ");
    });

    // appending the most frequent stemmed words using wordnet lemmatizer
    $('#results').append("<br><b>Most Frequent Stemmed Wordnet Lemmatizer:</b> <br>");
    $.each(data.most_freq_stem_words_wn, function (k,v){
        $('#results').append(" -- "+k+" : "+v+"   ");
    });


    // rendering the tag cloud for the stemmed words wordnets
    $.each(data.most_freq_stem_words_wn, function (k,v){
        $('#tag_cloud').append("<a href='#' title='"+v+"' rel='"+v+"'>"+k+"</a>");
    });
    $.fn.tagcloud.defaults = {
        size: {start: 10, end: 20, unit: 'pt'},
        color: {start: '#33CCFF', end: '#003399'}
    };

    $('#tag_cloud a').tagcloud();  
    $("#tag_cloud").show();


    // append the Entities
    $('#results').append("<br><br><b>Entities:</b>");
    $.each(data.entities, function (k,v){
        $('#results').append("<br><b>"+k+"</b> : <br>");
        $.each(v, function (n,i){
            $('#results').append(" "+i+",");
        });
    });

    // append the body text
    $('#results').append("<br><br><b>Extracted Text:</b><br><blackquote>"+data.body.replace(/\n/g,'<br>')+"</blackquote><br>");

    // append the summaries
    $('#results').append("<br><b>Summary Luhn2:</b><br><blackquote>"+data.summary.luhn2+"</blackquote><br>");
    $('#results').append("<br><b>Summary Luhn1:</b><br><blackquote>"+data.summary.luhn1+"</blackquote><br>");
    $('#results').append("<br><b>Summary Intersection:</b><br><blackquote>"+data.summary.intersect+"</blackquote><br>");
    
    // showing the results and hiding some div
    $('#results').slideDown(); 
    $("#loading").hide();
    $("#button_anl").show();
}


</script> 


{% endblock %}

